<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="trafficjunky-site-verification" content="445w343y8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>>__<</title>
    <meta name="author" content="AVMOO">
    <meta name="keywords" content="">
    <meta name="description" content=">__<">
    <link rel="apple-touch-icon" href="https://avmoo.cyou/app/jav/View/img/apple-touch-icon.png">
    <link rel="shortcut Icon" href="https://avmoo.cyou/app/jav/View/img/favicon.ico">
    <link rel="bookmark" href="https://avmoo.cyou/app/jav/View/img/favicon.ico">
    <link rel="dns-prefetch" href="https://jp.netcdn.space"/>

    <link rel='stylesheet' type='text/css' href='{{ url_for("static",filename="css/app.min.css") }}'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
    <script src='{{ url_for("static",filename="js/html5shiv.js") }}'></script>
    <script src='{{ url_for("static",filename="js/respond.js") }}'></script>
    <![endif]--><!--[if lt IE 8]>
    <link rel='stylesheet' type='text/css'
          href='{{ url_for("static",filename="css/bootstrap.css") }}'>
    <![endif]-->
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-74041965-4', {'sampleRate': 50});
ga('send', 'pageview');
    </script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top top-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ url_for('movielist') }}" class="logo"></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <form class="navbar-form navbar-left fullsearch-form1" action="{{ url_for('searchmovielist') }}"  method="get">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" placeholder="搜寻 识别码, 影片, 演员">
                    <span class="input-group-btn">
                <button class="btn btn-default" type="submit">搜寻</button>
              </span>
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li {% if pagination_endpoint == "movielist" and pagination_vals["filtertype"] != "released" and pagination_vals["filtertype"] != "random" %} class="active" {% endif %}><a href="{{ url_for('movielist') }}">全部</a></li>
                <li {% if pagination_endpoint == "movielist" and pagination_vals["filtertype"] == "released" %} class="active" {% endif %}><a href="{{ url_for('movielist',filtertype='released') }}">已发布</a></li>
                <li {% if pagination_endpoint == "movielist" and pagination_vals["filtertype"] == "random" %} class="active" {% endif %}><a href="{{ url_for('movielist',filtertype='random') }}">随机</a></li>
                <li class='dropdown {% if pagination_endpoint == "favorites" %} active {% endif %}'>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><span class="glyphicon glyphicon-heart" style="font-size:12px;"></span> <span class="hidden-sm">收藏</span> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('favorites',ftype='all') }}">全部</a></li>
                        <li><a href="{{ url_for('favorites',ftype='actress') }}">女优</a></li>
                        <li><a href="{{ url_for('favorites',ftype='movie') }}">影片</a></li>
                        <li><a href="{{ url_for('favorites',ftype='studio') }}">制作商</a></li>
                        <li><a href="{{ url_for('favorites',ftype='label') }}">发行商</a></li>
                        <li><a href="{{ url_for('favorites',ftype='series') }}">系列</a></li>
                  </ul>
                </li>
                <li {% if pagination_endpoint == "actresslist" %} class="active" {% endif %}><a href="{{ url_for('actresslist') }}">女优</a></li>
                <li {% if pagination_endpoint == "genrelist" %} class="active" {% endif %}><a href="{{ url_for('genrelist') }}">类别</a></li>
                <li {% if pagination_endpoint == "seriseslist" %} class="active" {% endif %}><a href="{{ url_for('seriseslist') }}">系列</a></li>
                <li {% if pagetype == "predict" %} class="active" {% endif %}><a href="{{ url_for('predict') }}">识别</a></li>
                <li {% if pagetype == "stats" %} class="active" {% endif %}><a href="{{ url_for('stats') }}">统计</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="row visible-xs-inline footer-bar">
    <div class="col-xs-3 text-center">
        <a id="menu" class="btn btn-default trigger-overlay"><i class="glyphicon glyphicon-align-justify"></i></a>
    </div>
    {% if pagination and pagination.has_prev %}
    <div class="col-xs-3 text-center">
        <a id="prev" class="btn btn-default" href="{{ url_for(pagination_endpoint,page_index = pagination.prev_num,**pagination_vals) }}" style="display:none"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </div>
    {% endif %}
    {% if pagination and pagination.has_next %}
    <div class="col-xs-3 text-center">
        <a id="next" class="btn btn-default" href="{{ url_for(pagination_endpoint,page_index = pagination.next_num,**pagination_vals) }}" style="display:none"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    {% endif %}
</div>
{% if pagetype == "movielist" %}
{% include "movielist.html" %}
{% endif %}
{% if pagetype == "actress_movielist" %}
{% include "movielist.html" %}
{% endif %}
{% if pagetype == "actresslist" %}
{% include "actresslist.html" %}
{% endif %}
{% if tagtype %}
{% include "taglist.html" %}
{% endif %}
{% if pagetype == "movie" %}
{% include "movie.html" %}
{% endif %}
{% if pagetype == "stats" %}
{% include "stats.html" %}
{% endif %}
{% if pagetype == "predict" %}
{% include "predict.html" %}
{% endif %}
{% if pagination %}
{% include "pagination.html" %}
{% endif %}
<footer class="footer hidden-xs">
    <div class="container-fluid">
        <p>
            <a title="RTA Label" href="http://www.rtalabel.org/?content=validate&amp;rating=RTA-5042-1996-1400-1577-RTA" rel="nofollow"><img src="{{ url_for('static',filename='img/rta_logo.gif') }}" alt="rta" width="82" height="29" align="left"></a> All models on adult site are 18 years or older. website has a zero-tolerance policy against ILLEGAL pornography. All videos are provided by 3rd parties and are embedded to our site. We take no responsibility for the content of these websites. We are proudly labeled with the RTA. 网站的所有内容，只适合18岁或以上人士观看。网站内的所有影片、图片都是由第三方提供，并嵌入到我们的网站内，相关内容都是由网友提供分享，如有不当内容，请提供相关资料给我们，我们将儘速下架。
    </p>
    </div>
</footer>

<div class="visible-xs-block footer-bar-placeholder"></div>

<!-- ////////////////////////////////////////////////// -->
<div class="overlay overlay-contentscale">
    <nav>
        <ul>
            <li>
                <form class="fullsearch-form1" action="{{ url_for('searchmovielist') }}" method="get">
                    <div class="input-group col-xs-offset-2 col-xs-8">
                        <input name="keyword" type="text" class="form-control" placeholder="搜寻 识别码, 影片, 演员">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜寻</button>
                  </span>
                    </div>
                </form>
            </li>
            <li {% if pagination_endpoint == "movielist" and pagination_vals["filtertype"]  != "released" and pagination_vals["filtertype"]  != "random" %} class="active" {% endif %}><a href="{{ url_for('movielist') }}">全部</a></li>
            <li {% if pagination_endpoint == "movielist" and pagination_vals["filtertype"]  == "released" %} class="active" {% endif %}><a href="{{ url_for('movielist',filtertype='released') }}">已发布</a></li>
            <li {% if pagination_endpoint == "movielist" and pagination_vals["filtertype"]  == "random" %} class="active" {% endif %}><a href="{{ url_for('movielist',filtertype='random') }}">随机</a></li>
            <li {% if pagination_endpoint == "favorites" %} class="active" {% endif %}><a href="{{ url_for('favorites',ftype='all') }}">收藏</a></li>
            <li {% if pagination_endpoint == "actresslist" %} class="active" {% endif %}><a href="{{ url_for('actresslist') }}">女优</a></li>
            <li {% if pagination_endpoint == "genrelist" %} class="active" {% endif %}><a href="{{ url_for('genrelist') }}">类别</a></li>
            <li {% if pagination_endpoint == "seriseslist" %} class="active" {% endif %}><a href="{{ url_for('seriseslist') }}">系列</a></li>
            <li {% if pagetype == "predict" %} class="active" {% endif %}><a href="{{ url_for('predict') }}">识别</a></li>
            <li {% if pagetype == "stats" %} class="active" {% endif %}><a href="{{ url_for('stats') }}">统计</a></li>

        </ul>
    </nav>
    <div class="row overlay-close"><i class="glyphicon glyphicon-remove"
                                      style="color:#fff;font-size: 24px;margin:30px;"></i></div>
</div>
<script src='{{ url_for("static",filename="js/app.min.js") }}'></script>
</body>
</html>