<!DOCTYPE html>
{% if pagination and pagination.pages > 1%}
<div class="text-center hidden-xs mtb-20">
    <ul class="pagination pagination-lg mtb-0">
        {% if pagination.has_prev %}
        <li><a name="pagination" href="{{ url_for(pagination_endpoint,page_index = pagination.prev_num, **pagination_vals) }}"><span class="glyphicon glyphicon-chevron-left"></span> 上一页</a></li>
        {% endif %}
        {% for page in pagination.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}
            {% if page %}
                {% if page !=pagination.page %}
        <li><a name="numbar"  href="{{ url_for(pagination_endpoint,page_index = page, **pagination_vals) }}">{{ page }}</a></li>
                {% else %}
        <li class="active"><a name="numbar"  href="{{ url_for(pagination_endpoint,page_index = page, **pagination_vals) }}">{{ page }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% if pagination.has_next %}
        <li><a name="nextpage"  href="{{ url_for(pagination_endpoint,page_index = pagination.next_num, **pagination_vals) }}">下一页 <span class="glyphicon glyphicon-chevron-right"></span></a></li>
      {% endif %}
    </ul>
</div>
{% endif %}